
@model AMS.Models.Leave
@{
    ViewBag.Title = "LeaveApply";
}

<h2>LeaveApply</h2>
emp id : @ViewBag.empId
@using (Html.BeginForm("SendLeaveApplication", "Employee", FormMethod.Post))
{
    <form>
        <label>Reason For Leave: </label> @Html.TextBoxFor(m => m.leave_reason)  <br />
        <label>Leave Start Date</label> @Html.TextBoxFor(m => m.leave_start_date) <br />
        <label>Days</label> @Html.TextBoxFor(m => m.num_leave_days) <br />
        <input type="submit"
               value="Apply for leave"
               id="leaveApplybtn"
               class="btn btn-primary btn-lg m-5 p-5"
                />
    </form>
}

