
@using AMS.Models
@model Login
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Employee",
        Value = "1",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Admin",
        Value = "0"
    });
}


@{
    ViewBag.Title = "Index";
}
<div class="loginPage">
    <h2><span style="color:red; font-weight:200;">EXL </span>Services Attendance Portal</h2>
    <div class="login">
        <h3>Login</h3>
        @using(Html.BeginForm("Login", "Home", FormMethod.Post))
        {
        @Html.Hidden("returnUrl", Request.Url.ToString())
       
        <br />
        <form>
            <label>
                Login Id:
                @Html.TextBoxFor(m => m.userId)
            </label><br>
            <label>
                Password:
                @Html.TextBoxFor(m => m.password)
            </label> <br>
            <label>
                Login As
                @Html.DropDownListFor(m => m.userTypeId, listItems, "-- Select Status --")
            </label>
            <br />
            <input type="submit" />
        </form>
        }
    </div>
</div>




