
@{
    ViewBag.Title = "messageHandler";
}

<div class="msg">
    @if (ViewBag.messageType == "error")
    {
        <h1 class="error">@ViewBag.message !!</h1><br />

    }
    else if(ViewBag.messageType == "warning") { 
            <h1 class="warning">@ViewBag.message !</h1><br />
    }
    else
    {
         <h1 class="success">@ViewBag.message</h1>
    }

</div>

