


.report-sec1{
    background:#e2c7e5;
    padding:30px;
    margin:auto;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px #e591fa;
}
.report-sec2{
    background:#e2c7e5;
    padding:30px;
    margin-left:185px;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px #e591fa;
}