.markAttd{
    height: 250px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: aqua;
    margin: 20px auto;

}
.btn-container{
    display:flex;
    flex-direction:row;
}
.btn-container input{
    margin: 10px 40px;
    padding: 30px;
    text-align:center;

}


.report-sec1{
    background:#e2c7e5;
    padding:30px;
    margin:auto;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px #e591fa;
}
.report-sec2{
    background:#e2c7e5;
    padding:30px;
    margin-left:185px;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px #e591fa;
}