.main{
    box-sizing:border-box;
    background-color:antiquewhite;
}
.markAttd{
    height: 250px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: aqua;
    margin: 20px auto;

}
.btn-container{
    display:flex;
    flex-direction:row;
}
.btn-container input{
    margin: 10px 40px;
    padding: 30px;
    text-align:center;

}

.homeLeaveAttd{
    margin: 10px auto;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 80%;
    

}
.report-sec1{
    background-color:aqua;
 text-align:center;
 padding: 5px;
 margin: 5px;
 width: 50%;
}
.report-sec2{
    background-color:aqua;
   text-align:center;
   padding: 5px;
   margin: 5px;
   width: 50%;
}
