

/* Set width on the form input elements since they're 100% wide by default */
html,body{
   height: 100%;
}
.loginPage, .leavePage {
    margin: 0 auto;
    width: 50%;
    align-items:center;
    justify-content:center;
    text-align:center;
  
}

.loginPage form{
    margin: 10px auto;
    padding: 10px;
    background-color: #e85a0e;
    color: white;
    font-size: 1em;
    box-shadow: 5px 5px 3px #be7751;
    border-radius: 5px;
   
}
.loginPage, .leavePage label{
    padding: 10px;
}
.loginPage, .leavePage h3, h2{
    font-size: 32px;
    font-weight: bolder;
}
.leavePage form{
       margin: 10px auto;
    padding: 20px;
    background-color: #e85a0e;
    color: white;
    font-size: 1.5em;
    box-shadow: 5px 5px 3px #be7751;
    border-radius: 5px;
}
.msg{
    height: 90vh;
     display:flex;
    justify-content:center;
    align-items:center;
   margin: 0 auto;
}
.msg .error{
    padding: 20px;
    background-color: rgb(255,0,0);
    color:white;
    font-weight:bolder;
}
.msg .warning{
    padding: 20px;
    background-color: greenyellow;
    color:white;
    font-weight:bolder;
}
.msg .success{
    padding: 20px;
    background-color:green;
    color:white;
    font-weight:bolder;
}

.btn-container{
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;

}
.btn-container div{
    display: inline;
}
@media (max-width: 600px){
    .loginPage{
        width:100%;
    }
}


